@font-face {
    font-family: 'first';
    src: url('glamourbrush-regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'second';
    src: url('roomfer.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'third';
    src: url('ChinChan.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'fourth';
    src: url('StackYard.ttf');
    font-style: normal;
}

#choices {
    display: inline;
    margin-inline-start: 10px;
}


body {
    font-family: 'second';
    background-color: rgb(255, 255, 255);
    padding: 100px;
}
   

#orig_body {
    width: 1000px;
    columns: 3;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;}
}

#logo {
    width: 960px;
    margin: 0 auto;}
}

h1 {
    color: #4F4F4F;
   }


h2 {
    color: black;
    font-family: 'fourth';
    font-size: 30pt;
}
    
p {
    color: #424140;

}

fieldset {
    padding: 20px;
    font-family: 'third';
    background-color: rgb(180, 180, 180);
    opacity: 0.5; 
    font-weight: bold;
}

 legend {
    background-color: #7A7A7A;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
 }
